.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 36%);
    width: 335px;
  }
  .editPostClose{
    display: flex;
    height: 35px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-dark);
    color:var(--white);
    border-radius: 5px 5px 0 0;
    padding: 0 8px 0 8px;
    gap: 10px;
  }
  
  .dataUser{
    padding: 1rem 1rem 0.5rem 1rem;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:0.4rem
  }
  .userEditPost{
    text-align: justify;
    width: 295px;
    height: 60px;
    resize: none;
    outline: none;
    background-color: rgba(44, 171, 146, 0.1);
    border-color: rgba(44, 171, 146, 0.15);
    border-radius: 5px;
    padding: 9px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    /* float: right; */
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .editPostImagen{
    padding: 9px;
  }
  .btnPostUpdate{
    background-color: var(--blue);
    color:var(--white);
    width: 86px;
    height: 24px;
    border-radius: 30px;
    border: 1px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 6px 0 18px 0;
  }
