@media screen and (min-width: 1060px) {
    .containerBox{
        width: 380px;
    }
    /* div.createPost{
        width: 606px;
    }
    .postsAllUsers{
        width: 606px;
    } */
    /* .descriptionPost{
        width: 541px;
    } */
  }
@media only screen and (min-width: 1000px){
    .allContainer{
    justify-content: center;    
}
.container-signIn{
    width: 500px;
    justify-self: center;
}
.homeFunkOok{
    display: flex;
    width: 50vw;
    height: 100vh;
    box-shadow: 0 0 25px 2px;

}
.signInGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.container-signUp {
    width: 500px;
    box-shadow: 0 0 50px 1px;
    border-radius: 38px;
}
header > ul{
    display: flex;
    flex-direction: row;
    width: auto;
    list-style: none;
    gap:25px;
    font-size: 23px;
    color: var(--black);
    align-content: center;

}
.hamburger{
    display: none;
}
header{
    justify-content: space-between;
    padding: 13px;
    height:fit-content;
    
}
.btnLogOut {
    background: none;
    font-size: 23px;
    color: var(--white);
    font-family: var(--roboto);
    font-weight:400;
}
}

@media screen and (min-width: 864px) {
    .gridTemplate {
      margin: 40px 0px 0px 0px;
      grid-template-areas:
        "a b"
        "a c";
    }
    .userPrincipal{
        position: fixed;
        left: 4rem;
    }
    .containerBox{
        grid-area: a;
        margin: 0;
    }
    .createPost{
        grid-area: b;
    }
    .containerHome>section{
        grid-area: c;
    }
    div.createPost{
        width: 406px;
    }
    .postsAllUsers{
        width: 406px;
    }
    .datePost{
        margin-left: 15.5rem;
    
    }
  }